<ion-header>
  <ion-toolbar>
    <ion-title>store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/stores/picknpay.jpg">

  <div style="display: flex; justify-content:space-around; " class="mt-3  ">
    <select name="cars" id="cars" class="w-50">
      <option  value="volvo"  disabled>Category</option>
      <option value="saab">Convience meals</option>
      <option value="opel">Vegatable</option>
      <option value="audi">Fruits</option>
      <option value="audi">Households & cleaning</option>
      <option value="audi">Home & OutDoor</option>
      
    </select>


    <select name="cars" id="cars">
      <option value="volvo"  disabled>Sort by :Relevance</option>
      <option value="saab">Price(Low-High)</option>
      <option value="saab">Price(High -Low)</option>
      
      
    </select>

  </div>
  

</ion-content>
