<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div style="display: flex; justify-content: space-between" class="mt-5 ml-3">
        <div>Products
          
        </div>
        <div>Description</div>
        <div>Quatity</div>
        <div style="display: flex; justify-content: space-evenly" >
          <div class="ml-3">zz</div>

          <div class="ml-3"> zz</div>
          <div class="ml-3"> zz  </div>
        </div>
      </div>


      <div style="display: flex; justify-content: space-between; border: 2px solid grey;" class=" ml-3" *ngFor="let d of shopplist">
        <div>
         {{d.product}}
          
        </div>
        <div class="m1-3">
          {{d. desc}}
        </div>
        <div class="">
          {{d.quatity}}
        </div>
        <div style="display: flex; justify-content: space-evenly" *ngFor="let a of d.price " class="m1-2">
          <div class="ml-3">
           {{a}}
          </div>

          <div class="ml-3">      {{a}}  </div>
          <div class="ml-3">       {{a}}    </div>
        </div>
      </div>


      
     
     
    </ion-card-content>
  </ion-card>
</ion-content>
