<ion-header>
  <ion-toolbar color="primary">
   
  </ion-toolbar>
  
  <ion-row>    
   
    
  </ion-row>  
</ion-header>
<ion-content > 


  


  

 
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()" value={{locatio}}></ion-searchbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  
 
</ion-content>